@import "tailwindcss";

/* Theme mặc định (Light) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Khi thẻ html có class="dark" */
[data-theme='dark'] {
  --background: #27272a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
}

.body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}